<% provide(:title, 'Create a new sprint result') %>
<h1>Create a new sprint result</h1>

<%= render 'form' %>

<%= link_to(content_tag(:i,'', :class => 'icon-th-list') + ' Cancel & view all sprint results', sprint_results_path, :class => 'btn') %>
