<div class="center hero-unit">
  <h1>Sprint Stats</h1>

  <h2>
    Record and view sprint statistics
  </h2>

  <%= link_to "Update Results", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("logo_250.png", alt: "Searchmetrics"), 'http://www.searchmetrics.com/' %>
