<% provide(:title, 'Create a new sprint') %>
<h1>Create a new sprint</h1>

<%= render 'form' %>

<%= link_to(content_tag(:i,'', :class => 'icon-th-list') + ' Cancel & view all sprints', sprints_path, :class => 'btn') %>
